body {
    color: #333;
}

/* フォント */
.biz-udpmincho-regular {
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
}
.biz-udpgothic-regular {
    font-family: "BIZ UDPGothic", serif;
    font-weight: 400;
    font-style: normal;
}

/* ナビゲーション */
.navbar button:focus {
    box-shadow: none !important;
}

/* ヘッダーロゴ */
.index h1 {
    max-width: 240px;
}

a {
    color: #487eb0!important;
    text-decoration: none;
}

a:hover {
    color: #333!important;
}

.disabled {
    color: #333!important;
}

.btn {
    border-color: #487eb0;
}

.btn:hover {
    color: #fff!important;
    background: #487eb0;
}