body {
    position: relative;
    color: #555;
    height: 100vh;
    text-align: justify;
    text-justify: inter-ideograph;
}
a {
    transition : all 0.5s ease 0s;
}
a:hover {
    opacity: 0.6!important;
}
header {
    background: url(./img/cover.jpg) center center / cover no-repeat fixed;
    height: 40vh;
}
main {
    margin-top: -6rem;
}
hr {
    border-style: dashed;
}
h1, h2, h3, h4, h5 {
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    color: #487eb0;
}
h1 img {
    border-radius: 50%;
}
h2 {
    color: #fbc531;
    font-size: 1.7rem;
}
h3 {
    font-size: 1.5rem;
}
#sns {
    list-style: none;
    padding: 0;
}
#sns li {
    margin: 0 1rem;
}
#sns li:first-of-type {
    margin-left: 0;
}
#sns li:last-of-type {
    margin-right: 0;
}
#sns a {
    opacity: 0.8;
    color: black;
    font-size: 30px;
}
#sns a.note img {
    margin-top: -0.4rem;
}
#posts .card {
    position: relative;
    transition : all 0.5s ease 0s;
    border-style: dotted;
}
#posts .card:hover {
    opacity: 0.8;
}
#posts .card .card-bg {
    height: 160px;
}
#posts .card .card-bg .badge.note {
    font-size: 1.2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #41C9B4;
    padding: .1em .4em .25em;
    margin-top: 1rem;
}
#posts .card .new {
    position: absolute;
    font-size: 1rem;
    background: red;
    top: 145px;
}
#posts .card h3 {
    font-size: 1.15rem;
}
#posts .card .card-text {
    font-size: 0.8rem;
}
#posts .card img.card-sns {
    opacity: 0.6;
    margin-bottom: 0.1rem;
}
#posts .card > a.link {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-indent:-999px;
}
#posts .card .card-footer {
    border-top-style: dotted;
    padding-top: 0!important;
    padding-left: 0!important;
}
footer {
    font-size: 0.8rem;
}
@media (min-width: 992px) {
    #posts article:first-of-type .card .card-bg {
        min-height: 250px;
    }
}

@media (min-width: 768px) {
    #posts article:not(:first-of-type) .card {
        min-height: 420px;
    }
    #posts article:first-of-type {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    #posts article:first-of-type .card {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #posts article:first-of-type .card .card-bg {
        width: 45%;
        height: auto;
    }
    #posts article:first-of-type .card .card-body {
        width: 55%;
    }
    #posts article:first-of-type .card .card-text {
        font-size: 0.9rem;
    }
    #posts article:first-of-type .card .card-footer {
        padding-top: 0!important;
        padding-left: 0!important;
        width: 100%;
    }
    #posts article:first-of-type .card .new {
        position: relative;
        top: 0;
    }
}
@media (max-width: 767.98px) {
    #posts article:not(:first-of-type):not(:last-of-type) {
        margin-bottom: 0!important;
    }
    #posts article:not(:first-of-type) .card {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #posts article:not(:first-of-type) .card .card-bg {
        width: 40%;
        height: auto;
        min-height: 100px;
    }
    #posts article:not(:first-of-type) .card .card-body {
        padding: 1rem 0.8rem!important;
        width: 60%;
    }
    #posts article:not(:first-of-type) .card .card-title {
        font-size: 0.9rem;
        margin-bottom: 0;
    }
    #posts article:not(:first-of-type) .card .card-text {
        display: none;
    }
    #posts article:not(:first-of-type) .card .card-footer {
        padding-top: 0!important;
        padding-left: 0!important;
        width: 100%;
    }
}
@media (max-width: 575.98px) {
    header {
        background: url(./img/cover.jpg) center center / cover no-repeat;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    p {
        font-size: 0.9rem;
    }
    #posts .card h3 {
        font-size: 1.1rem;
    }
    #posts .card .card-bg .badge.note {
        font-size: 0.9rem;
    }
}